@import "~/assets/css/factor-analyst/section.css";
@import "~/assets/css/factor-analyst/header.css";
@import "~/assets/css/factor-analyst/tab.css";
@import "~/assets/css/factor-analyst/offcanvas.css";
@import "~/assets/css/factor-analyst/detail.css";
@import "~/assets/css/factor-analyst/recommend.css";
@import "~/assets/css/factor-analyst/item.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

em{
  @apply not-italic;
}
.up{
  @apply !text-[#FF5050];
}
.swiper-pagination{
  @apply relative flex justify-center items-center mt-4 !bottom-0;
}
.swiper-pagination .swiper-pagination-bullet{
  @apply w-[6px] h-[6px] opacity-100 bg-[#DEE2E6] !mx-[3px];
}
.swiper-pagination .swiper-pagination-bullet-active{
  @apply bg-black;
}
body.scroll-lock {
  overflow: hidden !important;
  position: fixed;
  width: 100%;
  height: 100%;
}
.tag{
  @apply w-[60px] py-1 px-2 rounded-[4px] font-bold text-[11px] leading-[17px] flex justify-center items-center;
}
.tag.high{
  @apply text-[#FF5050];
  background: var(--color-red-6610, #FF50501A);
}
.tag.midlow{
  @apply text-[#FFCC00];
  background: var(--color-yellow-6610, #FFCC001A);
}
.tag.low{
  @apply text-[#5886FE];
  background: var(--blue_light, #5886FE1A);
}
.tag.on{
  @apply text-[#03B26C];
  background: var(--color-spring-green-3510, #03B26C1A);
}