@import "~/assets/css/factor-analyst/section.css";
@import "~/assets/css/factor-analyst/header.css";
@import "~/assets/css/factor-analyst/tab.css";
@import "~/assets/css/factor-analyst/offcanvas.css";
@import "~/assets/css/factor-analyst/detail.css";
@import "~/assets/css/factor-analyst/recommend.css";
@import "~/assets/css/factor-analyst/item.css";
@import "~/assets/css/factor-analyst/payment.css";
@import "~/assets/css/factor-analyst/intro.css";
@import "~/assets/css/factor-analyst/skeleton.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.factor-analyst {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.factor-analyst input,
.factor-analyst textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

.factor-analyst em{
  @apply not-italic;
}
.factor-analyst #wrap {
  /* padding-bottom: env(safe-area-inset-bottom, 0px); */
}
.factor-analyst .up{
  @apply !text-[#FF5050];
}
.factor-analyst .down{
  @apply !text-[#5886FE];
}
.factor-analyst .swiper-pagination{
  @apply relative flex justify-center items-center mt-4 !bottom-0;
}
.factor-analyst .swiper-pagination .swiper-pagination-bullet{
  @apply w-[6px] h-[6px] opacity-100 bg-[#DEE2E6] !mx-[3px];
}
.factor-analyst .swiper-pagination .swiper-pagination-bullet-active{
  @apply bg-black;
}
body.scroll-lock {
  overflow: hidden !important;
}
.factor-analyst .tag{
  @apply w-[60px] py-1 px-2 rounded-[4px] font-bold text-[11px] leading-[17px] flex justify-center items-center;
}
.factor-analyst .tag.high{
  @apply text-[#FF5050];
  background: var(--color-red-6610, #FF50501A);
}
.factor-analyst .tag.midlow{
  @apply text-[#FFCC00];
  background: var(--color-yellow-6610, #FFCC001A);
}
.factor-analyst .tag.low{
  @apply text-[#5886FE];
  background: var(--blue_light, #5886FE1A);
}
.factor-analyst .tag.on{
  @apply text-[#03B26C];
  background: var(--color-spring-green-3510, #03B26C1A);
}
.factor-analyst .plus-up{
  @apply !font-bold !text-[115%];
}