@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
.factor-analyst .detailTop{
    @apply w-full p-[2px_20px_24px] flex flex-col justify-start items-start gap-4;
  }
.factor-analyst .detailTop__title{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
.factor-analyst .detailTop__title h1{
    @apply font-bold text-3xl text-black;
  }
.factor-analyst .detailTop__title p{
    @apply font-normal text-base text-black;
  }
.factor-analyst .detailTop__box{
    @apply w-full rounded-2xl p-4 flex flex-col justify-start items-start gap-3;
    background: var(--color-grey-9760, #F0F0FF99);
    border: 1px solid var(--color-blue-7010, #6565FF1A);
  }
.factor-analyst .detailTop__box .box-title{
    @apply w-full flex justify-start items-center gap-2;
  }
.factor-analyst .detailTop__box .box-title strong{
    @apply font-bold text-base text-black;
  }
.factor-analyst .detailTop__box .box-txt{
    @apply font-normal text-base text-black;
  }
.factor-analyst .detailTab-content{
    @apply w-full bg-[#F5F7F9];
  }
.factor-analyst .styleItem{
    @apply w-full;
  }
.factor-analyst .styleItem .item-group{
    @apply w-full p-5 flex flex-col justify-start items-start gap-5;
  }
.factor-analyst .styleItem .no-item{
    @apply w-full py-5 px-3 rounded-[12px] bg-white flex flex-col justify-center items-center gap-2;
  }
.factor-analyst .styleItem .no-item p{
    @apply font-normal text-base text-[#364350] text-center;
  }
.factor-analyst .detailContent{
    @apply w-full flex flex-col justify-start items-start gap-[30px] p-5;
  }
.factor-analyst .detailContent__wrap--title{
    @apply w-full mb-4;
  }
.factor-analyst .detailContent__wrap--title h1{
    @apply w-full font-bold text-lg text-black;
  }
.factor-analyst .detailContent__wrap{
    @apply w-full;
  }
.factor-analyst .detailContent__wrap--content{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
.factor-analyst .detailContent__wrap--content .box{
    @apply w-full rounded-2xl bg-white py-6 px-5;
  }
.factor-analyst .detailContent__wrap--content .box .title{
    @apply w-full flex justify-between items-center mb-4;
  }
.factor-analyst .detailContent__wrap--content .box strong{
    @apply font-semibold text-base text-black;
  }
.factor-analyst .detailContent__wrap--content .box .txt{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
.factor-analyst .detailContent__wrap--content .box .txt p{
    @apply w-full font-normal text-base text-gray flex flex-col justify-start items-start gap-2;
  }
.factor-analyst .detailContent__wrap--content .box .bottom-btn{
    @apply w-full mt-4 pt-2.5 flex justify-end items-center border-t border-[#DEE2E6];
  }
.factor-analyst .detailContent__wrap--content .box .bottom-btn button{
    @apply flex justify-end items-center gap-[6px];
  }
.factor-analyst .detailContent__wrap--content .box .bottom-btn button p{
    @apply font-normal text-base text-[#515F6C];
  }
.factor-analyst .detailContent__wrap--content .box .inner-box{
    @apply w-full h-[136px] flex justify-center items-center bg-[#F5F7F9] rounded-[12px] mb-4;
  }
.factor-analyst .detailContent__wrap--content .box .chart-box{
    @apply w-full h-full;
  }
.factor-analyst .no-record{
    @apply w-full p-[20px_12px] flex flex-col justify-center items-center bg-[#F5F7F9] rounded-[12px] gap-2;
  }
.factor-analyst .no-record p{
    @apply font-normal text-base text-black text-center;
  }
.factor-analyst .detailContent__wrap--content .box .more-btn{
    @apply w-full mt-4 border border-[#DEE2E6] bg-white rounded-[8px];
  }
.factor-analyst .detailContent__wrap--content .box .more-btn button{
    @apply w-full py-[10px] font-normal text-base text-[#364350];
  }

  /* 종목스타일 상세보기 */
.factor-analyst .itemStyleDetailContent{
    @apply bg-[#F0F0FF] p-0 pt-2.5;
  }
.factor-analyst .itemStyleDetailContent .content-top{
    @apply w-full p-[8px_20px_30px] flex flex-col justify-start items-start gap-4;
  }
.factor-analyst .itemStyleDetailContent .title{
    @apply w-full flex flex-col justify-start items-start gap-1;
  }
.factor-analyst .itemStyleDetailContent .title h1{
    @apply font-bold text-2xl text-[#364350];
  }
.factor-analyst .itemStyleDetailContent .title span{
    @apply font-normal text-[13px] leading-[20px] text-gray;
  }
.factor-analyst .itemStyleDetailContent .top-box{
    @apply w-full py-5 px-4 bg-white rounded-[16px] flex flex-col justify-start items-start gap-5
  }
.factor-analyst .itemStyleDetailContent .quality-score{
    @apply w-full flex justify-between items-end;
  }
.factor-analyst .itemStyleDetailContent .quality-score .left{
    @apply flex flex-col justify-start items-start gap-[2px];
  }
.factor-analyst .itemStyleDetailContent .quality-score .left span{
    @apply font-normal text-[11px] leading-[17px] text-black;
  }
.factor-analyst .itemStyleDetailContent .quality-score .left p{
    @apply font-normal text-[11px] leading-[25px] text-gray flex justify-start items-end;
  }
.factor-analyst .itemStyleDetailContent .quality-score .left p strong{
    @apply font-bold text-3xl leading-[40px] text-black;
  }
.factor-analyst .itemStyleDetailContent .quality-score .right span{
    @apply py-0.5 px-3 bg-main rounded-[50px] font-semibold text-[16px] leading-[21px] text-white;
  }
.factor-analyst .itemStyleDetailContent .quality-score .right span.no-signal{
    @apply flex w-[74px] h-[22px] justify-center items-center bg-gray;
  }
.factor-analyst .itemStyleDetailContent .period-group{
    @apply w-full flex flex-col justify-start items-start gap-6;
  }
.factor-analyst .itemStyleDetailContent .range-group{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
.factor-analyst .itemStyleDetailContent .period{
    @apply p-[3px_13px] rounded-[20px] bg-[#DEE2E6] font-semibold text-[12px] leading-[18px] text-[#364350];
  }
.factor-analyst .itemStyleDetailContent .range-wrap{
    @apply w-full;
  }
.factor-analyst .itemStyleDetailContent .range-wrap .range{
    @apply w-full relative py-1;
  }
.factor-analyst .itemStyleDetailContent .range-wrap .range .bar{
    @apply relative w-full h-[10px] bg-[#EBEBEB] rounded-[50px];
  }
.factor-analyst .itemStyleDetailContent .range-wrap .range .bar span{
    @apply absolute w-[1px] h-[14px] bg-[#A1ABB5] left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-[10];
  }
.factor-analyst .itemStyleDetailContent .range-wrap .range .score{
    @apply absolute h-[10px] bg-main rounded-[50px] left-0 top-1;
  }
.factor-analyst .itemStyleDetailContent .range-wrap .range .score .item-icon{
    @apply absolute w-[18px] h-[18px] rounded-full outline outline-2 outline-white top-1/2 -translate-y-1/2 right-0 translate-x-1/2;
  }
.factor-analyst .itemStyleDetailContent .range-wrap .txt{
    @apply w-full flex justify-between items-center;
  }
.factor-analyst .itemStyleDetailContent .range-wrap .txt span{
    @apply flex-1 font-normal text-[11px] leading-[17px] text-gray text-center first:text-left last:text-right whitespace-nowrap;
  }
.factor-analyst .itemStyleDetailContent .range-wrap .txt p{
    @apply font-normal text-sm text-gray;
  }
.factor-analyst .itemStyleDetailContent .range-wrap .txt strong{
    @apply font-bold text-sm text-[#364350];
  }
.factor-analyst .itemStyleDetailContent .range-wrap .txt.four-span span{
    @apply flex-none;
  }
.factor-analyst .itemStyleDetailContent .score-box{
    @apply w-full flex justify-center items-center gap-1 p-5 rounded-[12px] bg-white;
  }
.factor-analyst .itemStyleDetailContent .score-box .score{
    @apply px-4 flex flex-col justify-center items-center;
  }
.factor-analyst .itemStyleDetailContent .score-box .score p{
    @apply font-semibold text-[14px] leading-[21px] text-black;
  }
.factor-analyst .itemStyleDetailContent .score-box .score strong{
    @apply font-bold text-[20px] leading-[29px] text-black;
  }
.factor-analyst .itemStyleDetailContent .score-box .score span{
    @apply font-normal text-[11px] leading-[17px] text-gray;
  }
.factor-analyst .itemStyleDetailContent .inner-box{
    @apply w-full flex flex-col justify-start items-start gap-[6px] bg-[#F5F7F9] rounded-[12px] p-4;
  }
.factor-analyst .itemStyleDetailContent .inner-box.no-signal{
    @apply items-center;
  }
.factor-analyst .itemStyleDetailContent .inner-box.no-signal p{
    @apply text-center;
  }
.factor-analyst .itemStyleDetailContent .inner-box p{
    @apply font-normal text-base text-[#364350];
  }
.factor-analyst .itemStyleDetailContent .inner-box p strong{
    @apply font-normal;
  }
.factor-analyst .itemStyleDetailContent .inner-box button{
    @apply flex justify-start items-center gap-[6px];
  }
.factor-analyst .itemStyleDetailContent .inner-box button p{
    @apply font-normal text-xs text-gray;
  }
.factor-analyst .itemStyleDetailContent .inner-box span{
    @apply p-[3px_8px] bg-white rounded-[4px] font-semibold text-[12px] leading-[18px];
  }
.factor-analyst .itemStyleDetailContent .inner-box span.pass{
    @apply text-[#03B26C];
  }
.factor-analyst .itemStyleDetailContent .inner-box span.fail{
    @apply text-[#FF5050];
  }
.factor-analyst .itemStyleDetailContent .calculate-wrap{
    @apply w-full flex flex-col  justify-start items-start gap-3 mt-[6px];
  }
.factor-analyst .itemStyleDetailContent .inner-box .white-box{
    @apply w-full rounded-[8px] p-3 bg-white flex flex-col justify-start items-start gap-[6px];
  }
.factor-analyst .itemStyleDetailContent .inner-box .white-box .price{
    @apply w-full flex justify-start items-center gap-[6px];
  }
.factor-analyst .itemStyleDetailContent .inner-box .white-box .price p{
    @apply font-normal text-sm text-gray;
  }
.factor-analyst .itemStyleDetailContent .inner-box .white-box .price strong{
    @apply font-semibold text-base text-gray;
  }
.factor-analyst .itemStyleDetailContent .inner-box .white-box .price.current p, .itemStyleDetailContent .inner-box .white-box .price.current strong{
    @apply text-black;
  }
.factor-analyst .itemStyleDetailContent .inner-box .white-box .top{
    @apply w-full pb-1 flex flex-col justify-center items-center border-b border-[#EDF0F3];
  }
.factor-analyst .itemStyleDetailContent .inner-box .white-box .top p{
    @apply font-normal text-sm text-gray;
  }
.factor-analyst .itemStyleDetailContent .inner-box .white-box .top strong{
    @apply font-bold text-base text-black;
  }
.factor-analyst .itemStyleDetailContent .inner-box .white-box .bottom{
    @apply w-full flex justify-around items-center gap-[6px];
  }
.factor-analyst .itemStyleDetailContent .inner-box .white-box .bottom .txt{
    @apply flex justify-center items-center flex-col;
  }
.factor-analyst .itemStyleDetailContent .inner-box .white-box .bottom .txt p{
    @apply font-normal text-[11px] leading-[17px] text-gray border-[#EDF0F3];
  }
.factor-analyst .itemStyleDetailContent .inner-box .white-box .bottom .txt strong{
    @apply font-normal text-[11px] leading-[17px] text-black;
  }
.factor-analyst .itemStyleDetailContent .txt-box{
    @apply w-full flex flex-col justify-start items-start gap-[6px];
  }
.factor-analyst .itemStyleDetailContent .txt-box .txt-title{
    @apply flex justify-start items-center gap-[6px];
  }
.factor-analyst .itemStyleDetailContent .txt-box .txt-title p{
    @apply font-semibold text-sm text-black;
  }
.factor-analyst .itemStyleDetailContent .txt-box .txt{
    @apply font-normal text-sm text-[#364350];
  }
.factor-analyst .itemStyleDetailContent .content-section{
    @apply w-full py-6 px-5 border-b-[12px] border-[#F5F7F9] bg-white flex flex-col justify-start items-start gap-6 last:border-b-[0px];
  }
.factor-analyst .itemStyleDetailContent  .box-wrap{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
.factor-analyst .itemStyleDetailContent  .box-group{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
.factor-analyst .itemStyleDetailContent  .box-group .box{
    @apply w-full rounded-[16px] border border-[#DEE2E6] p-4 flex flex-col justify-start items-start gap-5;
  }
.factor-analyst .itemStyleDetailContent  .box-group .box .box-title{
    @apply w-full flex justify-start items-start gap-[6px];
  }
.factor-analyst .itemStyleDetailContent  .box-group .box .box-title span{
    @apply w-6 h-6 rounded-[50px] flex justify-center items-center bg-main font-semibold text-sm text-white;
  }
.factor-analyst .itemStyleDetailContent  .box-group .box .box-title p{
    @apply font-semibold text-base text-black;
  } 
.factor-analyst .itemStyleDetailContent .list-group{
    @apply w-full flex flex-col justify-start items-start gap-6;
  }
.factor-analyst .itemStyleDetailContent .list{
    @apply w-full;
  }
.factor-analyst .itemStyleDetailContent .list .gpa-title{
    @apply w-full flex justify-between items-center mb-[6px];
  }
.factor-analyst .itemStyleDetailContent .list .gpa-title p{
    @apply font-bold text-base text-black;
  }
.factor-analyst .itemStyleDetailContent .list .gpa-title span{
    @apply px-2 rounded-[4px] font-bold text-base text-main;
    background: var(--color-blue-7010, #6565FF1A);
  }
.factor-analyst .itemStyleDetailContent .list .gpa-txt{
    @apply w-full mb-3 font-normal text-base text-[#515F6C];
  }
.factor-analyst .itemStyleDetailContent .gray-box{
    @apply w-full p-5 rounded-[12px] bg-[#F5F7F9] flex flex-col justify-start items-start gap-4;
  }
.factor-analyst .itemStyleDetailContent .gray-box .box-title{
    @apply w-full flex flex-col justify-start items-start gap-[6px];
  }
.factor-analyst .itemStyleDetailContent .gray-box strong{
    @apply font-bold text-base text-black;
  }
.factor-analyst .itemStyleDetailContent .gray-box p{
    @apply font-normal text-base text-black;
  }
.factor-analyst .itemStyleDetailContent .gray-box .inner-box{
    @apply bg-white
  }
.factor-analyst .itemStyleDetailContent .score-wrap{
    @apply w-full flex justify-center items-center gap-3;
  }
.factor-analyst .itemStyleDetailContent .score-wrap .box{
    @apply w-full flex-1;
  }
.factor-analyst .itemStyleDetailContent .score-wrap .box .top{
    @apply py-[5px] w-full text-center bg-main rounded-t-[12px] font-bold text-sm text-white;
  }
.factor-analyst .itemStyleDetailContent .score-wrap .box .bottom{
    @apply w-full p-3 rounded-b-[12px] bg-white flex flex-col justify-start items-start gap-[6px];
  }
.factor-analyst .itemStyleDetailContent .score-wrap .box .bottom .score{
    @apply w-full flex justify-between items-center;
  }
.factor-analyst .itemStyleDetailContent .score-wrap .box .bottom .score span{
    @apply font-normal text-base text-gray;
  }
.factor-analyst .itemStyleDetailContent .score-wrap .box .bottom .score p{
    @apply font-bold text-base text-[#364350];
  }
.factor-analyst .itemStyleDetailContent .no-data{
    @apply w-full py-5 px-3 flex flex-col justify-center items-center gap-2 bg-[#F5F7F9] rounded-[8px];
  }
.factor-analyst .itemStyleDetailContent .no-data p{
    @apply font-normal text-base text-black text-center;
  }
.factor-analyst .allStyle{
    @apply w-full flex flex-col justify-start items-start gap-4 bg-white;
  }
.factor-analyst .allStyle .title{
    @apply font-bold text-lg text-black;
  }
.factor-analyst .allStyle .style-group{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
.factor-analyst .allStyle .style-group .box{
    @apply w-full rounded-[12px] p-4 border border-[#DEE2E6] flex flex-col justify-start items-start gap-2;
  }
.factor-analyst .allStyle .style-group .box .box-title{
    @apply font-semibold text-base text-black;
  }
.factor-analyst .allStyle .style-group .box .box-txt{
    @apply text-left font-normal text-base text-gray;
  }
.factor-analyst .allStyle .style-group .box .item-style{
    @apply flex justify-start items-center gap-[6px_10px] flex-wrap whitespace-nowrap;
  }
.factor-analyst .allStyle .style-group .box .item-style a{
    @apply px-[5px] rounded-[4px] font-semibold text-xs leading-[18px] text-main;
    background: var(--color-blue-7020, #6565FF33);
  }
}