@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .offcanvas-overlay {
    @apply fixed inset-0 bg-black/50 z-[999] flex justify-end items-stretch;
  }
  .offcanvas-content {
    @apply w-full max-w-full bg-white p-5 flex flex-col justify-start items-stretch shadow-2xl pt-[10px];
  }
  .offcanvas-close {
    @apply w-full flex justify-end items-center py-2;
  }
  .offcanvas-body{
    @apply w-full;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .offcanvas-body::-webkit-scrollbar{
    display: none;
  }
  .introOffcanvas{
    @apply w-full pt-[30px] overflow-y-auto;
    -ms-overflow-style: none;  /* IE, 에지 */
    scrollbar-width: none;  /* 파이어폭스 */
  }
  .introOffcanvas::-webkit-scrollbar {
    display: none;
  }
  .introOffcanvas .txt-wrap{
    @apply w-full flex flex-col justify-start items-start gap-[30px];
  }
  .introOffcanvas .txt-group{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
  .introOffcanvas .txt-group .title{
    @apply w-full flex flex-col justify-start items-start gap-1;
  }
  .introOffcanvas .txt-group .title strong{
    @apply font-bold text-lg text-black;
  }
  .introOffcanvas .txt-group .title span{
    @apply font-normal text-sm text-gray;
  }
  .introOffcanvas .txt-group .box{
    @apply w-full rounded-[12px] border border-[#DEE2E6] bg-white p-[17px] flex flex-col justify-start items-start gap-6;
  }
  .introOffcanvas .txt-group .box .p-group{
    @apply flex flex-col justify-start items-start gap-4;
  }
  .introOffcanvas .txt-group .box .p-group p{
    @apply font-normal text-base text-[#515F6C];
  }
  .introOffcanvas .txt-group .box .p-group strong{
    @apply font-bold text-base text-black;
  }
  .paymentOffcanvas .offcanvas-body{
    @apply w-full flex flex-col justify-start items-start gap-[30px] pb-[84px];
  }
  .paymentOffcanvas .body-title{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
  .paymentOffcanvas .body-title strong{
    @apply font-bold text-2xl text-[#364350];
  }
  .paymentOffcanvas .body-title p{
    @apply font-normal text-base text-[#364350];
  }
  .paymentOffcanvas .body-title span{
    @apply font-normal text-sm text-[#A1ABB5];
  }
  .paymentOffcanvas .body-box{
    @apply w-full rounded-[16px] py-6 px-5 bg-[#F7F7F8] flex flex-col justify-start items-start gap-4;
  }
  .paymentOffcanvas .body-box .box-title{
    @apply font-bold text-[15px] leading-[19px] text-[#364350];
  }
  .paymentOffcanvas .body-box .box-txt{
    @apply w-full flex flex-col justify-start items-start gap-3;
  }
  .paymentOffcanvas .body-box .box-txt .txt{
    @apply w-full flex justify-start items-start gap-[6px];
  }
  .paymentOffcanvas .body-box .box-txt .txt svg{
    @apply block mt-0.5;
  }
  .paymentOffcanvas .body-box .box-txt .txt p{
    @apply font-normal text-base text-[#364350];
  }
  .paymentOffcanvas .body-select{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
  .paymentOffcanvas .body-select .select-title{
    @apply font-normal text-base text-black;
  }
  .paymentOffcanvas .body-select .select-box{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
  .paymentOffcanvas .body-select .select-box .box{
    @apply w-full flex flex-col justify-start items-start gap-[5px] border border-[#D2D2D2] p-4 rounded-[16px];
  }
  .paymentOffcanvas .body-select .select-box .box.selected{
    @apply border-main;
  }
  .paymentOffcanvas .body-select .select-box .box .box-title{
    @apply w-full flex justify-between items-center font-bold text-base text-black;
  }
  .paymentOffcanvas .body-select .select-box .box .box-title span{
    @apply py-0.5 px-2 font-bold text-[11px] leading-[17px] text-white bg-main rounded-[50px];
  }
  .paymentOffcanvas .body-select .select-box .box .box-txt{
    @apply font-normal text-base text-black text-left;
  }
  .paymentOffcanvas .offcanvas-footer{
    @apply w-full p-5 fixed bottom-0 right-0 left-0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 35.48%);
  }
  .paymentOffcanvas .offcanvas-footer button{
    @apply w-full h-[54px] rounded-[12px] bg-main font-semibold text-base text-white;
  }
}