@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .offcanvas-overlay {
    @apply fixed inset-0 bg-black/50 z-[999] flex justify-end items-stretch;
  }
  .offcanvas-content {
    @apply w-full max-w-full bg-white p-5 flex flex-col justify-start items-stretch shadow-2xl pt-[10px];
  }
  .offcanvas-close {
    @apply w-full flex justify-end items-center py-2;
  }
  .offcanvas-body{
    @apply w-full;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .offcanvas-body::-webkit-scrollbar{
    display: none;
  }
  .introOffcanvas{
    @apply w-full pt-[30px] overflow-y-auto;
    -ms-overflow-style: none;  /* IE, 에지 */
    scrollbar-width: none;  /* 파이어폭스 */
  }
  .introOffcanvas::-webkit-scrollbar {
    display: none;
  }
  .introOffcanvas .txt-wrap{
    @apply w-full flex flex-col justify-start items-start gap-[30px];
  }
  .introOffcanvas .txt-group{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
  .introOffcanvas .txt-group .title{
    @apply w-full flex flex-col justify-start items-start gap-1;
  }
  .introOffcanvas .txt-group .title strong{
    @apply font-bold text-lg text-black;
  }
  .introOffcanvas .txt-group .title span{
    @apply font-normal text-sm text-gray;
  }
  .introOffcanvas .txt-group .box{
    @apply w-full rounded-[12px] border border-[#DEE2E6] bg-white p-[17px] flex flex-col justify-start items-start gap-6;
  }
  .introOffcanvas .txt-group .box .p-group{
    @apply flex flex-col justify-start items-start gap-4;
  }
  .introOffcanvas .txt-group .box .p-group p{
    @apply font-normal text-base text-[#515F6C];
  }
  .introOffcanvas .txt-group .box .p-group strong{
    @apply font-bold text-base text-black;
  }
  .itemStyleDetailOffcanvas{
    @apply bg-[#F0F0FF] p-0 pt-2.5;
  }
  .itemStyleDetailOffcanvas .offcanvas-close{
    @apply px-5;
  }
  .itemStyleDetailOffcanvas .offcanvas-body{
    @apply w-full h-full overflow-auto;
  }
  .itemStyleDetailOffcanvas .body-top{
    @apply w-full p-[8px_20px_30px] flex flex-col justify-start items-start gap-4;
  }
  .itemStyleDetailOffcanvas .title{
    @apply w-full flex flex-col justify-start items-start gap-1;
  }
  .itemStyleDetailOffcanvas .title h1{
    @apply font-bold text-2xl text-[#364350];
  }
  .itemStyleDetailOffcanvas .title span{
    @apply font-normal text-[13px] leading-[20px] text-gray;
  }
  .itemStyleDetailOffcanvas .top-box{
    @apply w-full py-5 px-4 bg-white rounded-[16px] flex flex-col justify-start items-start gap-5
  }
  .itemStyleDetailOffcanvas .quality-score{
    @apply w-full flex justify-between items-end;
  }
  .itemStyleDetailOffcanvas .quality-score .left{
    @apply flex flex-col justify-start items-start gap-[2px];
  }
  .itemStyleDetailOffcanvas .quality-score .left span{
    @apply font-normal text-[11px] leading-[17px] text-black;
  }
  .itemStyleDetailOffcanvas .quality-score .left p{
    @apply font-normal text-[11px] leading-[25px] text-gray flex justify-start items-end;
  }
  .itemStyleDetailOffcanvas .quality-score .left p strong{
    @apply font-bold text-3xl leading-[40px] text-black;
  }
  .itemStyleDetailOffcanvas .quality-score .right span{
    @apply py-1 px-2 bg-main rounded-[50px] font-bold text-[12px] leading-[18px] text-white;
  }
  .itemStyleDetailOffcanvas .range-wrap{
    @apply w-full;
  }
  .itemStyleDetailOffcanvas .range-wrap .range{
    @apply w-full relative py-1;
  }
  .itemStyleDetailOffcanvas .range-wrap .range .bar{
    @apply relative w-full h-[10px] bg-[#EBEBEB] rounded-[50px];
  }
  .itemStyleDetailOffcanvas .range-wrap .range .bar span{
    @apply absolute w-[1px] h-[14px] bg-[#A1ABB5] left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-[10];
  }
  .itemStyleDetailOffcanvas .range-wrap .range .score{
    @apply absolute h-[10px] bg-main rounded-[50px] left-0 top-1;
  }
  .itemStyleDetailOffcanvas .range-wrap .range .score .item-icon{
    @apply absolute w-[18px] h-[18px] rounded-full outline outline-2 outline-white top-1/2 -translate-y-1/2 right-0 translate-x-1/2;
  }
  .itemStyleDetailOffcanvas .range-wrap .txt{
    @apply w-full flex justify-between items-center;
  }
  .itemStyleDetailOffcanvas .range-wrap .txt span{
    @apply flex-1 font-normal text-[11px] leading-[17px] text-gray text-center first:text-left last:text-right whitespace-nowrap;
  }
  .itemStyleDetailOffcanvas .inner-box{
    @apply w-full flex flex-col justify-start items-start gap-[6px] bg-[#F5F7F9] rounded-[12px] p-4;
  }
  .itemStyleDetailOffcanvas .inner-box.no-signal{
    @apply items-center;
  }
  .itemStyleDetailOffcanvas .inner-box p{
    @apply font-normal text-base text-[#364350];
  }
  .itemStyleDetailOffcanvas .inner-box button{
    @apply flex justify-start items-center gap-[6px];
  }
  .itemStyleDetailOffcanvas .inner-box button p{
    @apply font-normal text-xs text-gray;
  }
  .itemStyleDetailOffcanvas .inner-box span{
    @apply p-[3px_8px] bg-white rounded-[4px] font-semibold text-[12px] leading-[18px];
  }
  .itemStyleDetailOffcanvas .inner-box span.pass{
    @apply text-[#03B26C];
  }
  .itemStyleDetailOffcanvas .inner-box span.fail{
    @apply text-[#FF5050];
  }
  .itemStyleDetailOffcanvas .txt-box{
    @apply w-full flex flex-col justify-start items-start gap-[6px];
  }
  .itemStyleDetailOffcanvas .txt-box .txt-title{
    @apply flex justify-start items-center gap-[6px];
  }
  .itemStyleDetailOffcanvas .txt-box .txt-title p{
    @apply font-semibold text-sm text-black;
  }
  .itemStyleDetailOffcanvas .txt-box .txt{
    @apply font-normal text-sm text-[#364350];
  }
  .itemStyleDetailOffcanvas .offcanvas-section{
    @apply w-full py-6 px-5 border-b-[12px] border-[#F5F7F9] bg-white flex flex-col justify-start items-start gap-6 last:border-b-[0px];
  }
  .itemStyleDetailOffcanvas  .box-group{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
  .itemStyleDetailOffcanvas  .box-group .box{
    @apply w-full rounded-[16px] border border-[#DEE2E6] p-4 flex flex-col justify-start items-start gap-5;
  }
  .itemStyleDetailOffcanvas  .box-group .box .box-title{
    @apply w-full flex justify-start items-center gap-[6px];
  }
  .itemStyleDetailOffcanvas  .box-group .box .box-title span{
    @apply w-6 h-6 rounded-[50px] flex justify-center items-center bg-main font-semibold text-sm text-white;
  }
  .itemStyleDetailOffcanvas  .box-group .box .box-title p{
    @apply font-semibold text-base text-black;
  } 
  .itemStyleDetailOffcanvas .gpa-group{
    @apply w-full flex flex-col justify-start items-start gap-6;
  }
  .itemStyleDetailOffcanvas .gpa-group .gpa{
    @apply w-full;
  }
  .itemStyleDetailOffcanvas .gpa-group .gpa .gpa-title{
    @apply w-full flex justify-between items-center mb-[6px];
  }
  .itemStyleDetailOffcanvas .gpa-group .gpa .gpa-title p{
    @apply font-bold text-base text-black;
  }
  .itemStyleDetailOffcanvas .gpa-group .gpa .gpa-title span{
    @apply px-2 rounded-[4px] font-bold text-base text-main;
    background: var(--color-blue-7010, #6565FF1A);
  }
  .itemStyleDetailOffcanvas .gpa-group .gpa .gpa-txt{
    @apply w-full mb-3 font-normal text-base text-[#515F6C];
  }
  .itemStyleDetailOffcanvas .gpa-group .gpa .gpa-box{
    @apply w-full p-5 rounded-[12px] bg-[#F5F7F9] flex flex-col justify-start items-start gap-5;
  }
  .itemStyleDetailOffcanvas .gpa-group .gpa .gpa-box p{
    @apply font-normal text-base text-black;
  }
  .offcanvas-overlay.itemStyleListOffcanvas, .offcanvas-overlay.paymentOffcanvas{
    @apply items-end;
  }
  .offcanvas-content.itemStyleListOffcanvas, .offcanvas-content.paymentOffcanvas{
    @apply max-h-[80%] rounded-t-[20px];
  }
  .itemStyleListOffcanvas .offcanvas-body, .paymentOffcanvas .offcanvas-body{
    @apply overflow-auto;
  }
  .itemStyleListOffcanvas .body-top{
    @apply w-full pt-2 pb-4 border-b border-[#EDF0F3] flex flex-col justify-start items-start gap-1 mb-4;
  }
  .itemStyleListOffcanvas .body-top strong{
    @apply font-bold text-lg text-black;
  }
  .itemStyleListOffcanvas .body-top p{
    @apply font-normal text-sm text-gray;
  }
  .itemStyleListOffcanvas .body-content{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
  .itemStyleListOffcanvas .quality-box{
    @apply w-full py-5 px-3 rounded-[8xp] flex flex-col justify-center items-center gap-[10px];
    background: var(--color-blue-7010, #6565FF1A);
  }
  .itemStyleListOffcanvas .quality-box strong{
    @apply font-bold text-lg text-black;
  }
  .itemStyleListOffcanvas .quality-box p{
    @apply font-normal text-sm text-gray;
  }
  .itemStyleListOffcanvas .txt-group{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
  .itemStyleListOffcanvas .txt-group .txt{
    @apply w-full flex flex-col justify-start items-start gap-2;
  }
  .itemStyleListOffcanvas .txt-group .txt strong{
    @apply font-semibold text-base text-black;
  }
  .itemStyleListOffcanvas .txt-group .txt p{
    @apply font-normal text-base text-[#515F6C];
  }
  .paymentOffcanvas .offcanvas-body{
    @apply w-full flex flex-col justify-start items-start gap-[30px] pb-[84px];
  }
  .paymentOffcanvas .body-title{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
  .paymentOffcanvas .body-title strong{
    @apply font-bold text-2xl text-[#364350];
  }
  .paymentOffcanvas .body-title p{
    @apply font-normal text-base text-[#364350];
  }
  .paymentOffcanvas .body-title span{
    @apply font-normal text-sm text-[#A1ABB5];
  }
  .paymentOffcanvas .body-box{
    @apply w-full rounded-[16px] py-6 px-5 bg-[#F7F7F8] flex flex-col justify-start items-start gap-4;
  }
  .paymentOffcanvas .body-box .box-title{
    @apply font-bold text-[15px] leading-[19px] text-[#364350];
  }
  .paymentOffcanvas .body-box .box-txt{
    @apply w-full flex flex-col justify-start items-start gap-3;
  }
  .paymentOffcanvas .body-box .box-txt .txt{
    @apply w-full flex justify-start items-start gap-[6px];
  }
  .paymentOffcanvas .body-box .box-txt .txt svg{
    @apply block mt-0.5;
  }
  .paymentOffcanvas .body-box .box-txt .txt p{
    @apply font-normal text-base text-[#364350];
  }
  .paymentOffcanvas .body-select{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
  .paymentOffcanvas .body-select .select-title{
    @apply font-normal text-base text-black;
  }
  .paymentOffcanvas .body-select .select-box{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
  .paymentOffcanvas .body-select .select-box .box{
    @apply w-full flex flex-col justify-start items-start gap-[5px] border border-[#D2D2D2] p-4 rounded-[16px];
  }
  .paymentOffcanvas .body-select .select-box .box.selected{
    @apply border-main;
  }
  .paymentOffcanvas .body-select .select-box .box .box-title{
    @apply w-full flex justify-between items-center font-bold text-base text-black;
  }
  .paymentOffcanvas .body-select .select-box .box .box-title span{
    @apply py-0.5 px-2 font-bold text-[11px] leading-[17px] text-white bg-main rounded-[50px];
  }
  .paymentOffcanvas .body-select .select-box .box .box-txt{
    @apply font-normal text-base text-black text-left;
  }
  .paymentOffcanvas .offcanvas-footer{
    @apply w-full p-5 fixed bottom-0 right-0 left-0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 35.48%);
  }
  .paymentOffcanvas .offcanvas-footer button{
    @apply w-full h-[54px] rounded-[12px] bg-main font-semibold text-base text-white;
  }
}