@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* 공통 */
  .mainSection{
    @apply w-full border-b-[12px] border-[#F5F7F9] bg-white py-6 px-5;
  }
  .mainSection__title{
    @apply w-full flex justify-between items-center mb-4;
  }
  .mainSection__title h2{
    @apply font-bold text-black text-lg;
  }
  .mainSection__title h2 span{
    @apply block font-normal text-xs text-gray mb-1;
  }
  .mainSection__title em{
    @apply font-normal text-[13px] leading-5 text-gray;
  }
  .mainSection__tab{
    @apply relative w-full pl-5 flex justify-start items-center gap-0.5 flex-nowrap whitespace-nowrap overflow-x-auto mb-5;
    -ms-overflow-style: none;  /* IE, 에지 */
    scrollbar-width: none;  /* 파이어폭스 */
  }
  .mainSection__tab::-webkit-scrollbar {
    display: none;
  }
  .mainSection__tab button{
    @apply relative p-[6.5px_16px] rounded-[6px] font-normal text-base text-gray last:mr-5 bg-transparent z-[1];
  }
  .mainSection__tab button.active{
    @apply font-semibold text-[#364350];
  }
  .mainSection__tab .tab-indicator {
    @apply h-[37px] absolute rounded-[6px] bg-[#DEE2E6] z-0 ease-out top-0 bottom-0 left-5;
    transition: transform 0.3s ease-out, width 0.3s ease-out; 
  }
  .mainSection__content{
    @apply w-full;
  }
  /* 오늘의 추천 스타일+ */
  .recommendItemSwiper, .recommendItemSwiper .swiper-slide{
    @apply w-full;
  }
  .recommendItemSwiper .swiper-slide{
    @apply h-[407px];
  }
  .itemList{
    @apply w-full h-full rounded-[20px] p-4 text-left flex flex-col justify-start items-start;
  }
  .itemList.box01{
    background: linear-gradient(160.25deg, #F0F0FF 67.85%, #FEF7FF 96.06%);
  }
  .itemList.box02{
    @apply bg-white;
  }
  .itemList .box-title{
    @apply w-full font-bold text-xl text-black mb-2.5;
  }
  .itemList .box-txt{
    @apply w-full font-normal text-sm text-gray mb-5;
  }
  .recommend-pick{
    @apply p-[7px_16px] bg-main flex justify-center items-center gap-[5px] rounded-[50px] m-[0_auto] mb-5;
    box-shadow: 0px 0px 10px 0px #CCCDFF;
  }
  .recommend-pick p{
    @apply font-semibold text-base text-white;
  }
  .listGroup{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
  .listGroup .list{
    @apply w-full flex justify-between items-center gap-2;
  }
  .listGroup .list .left{
    @apply flex-1 flex justify-start items-center gap-3 min-w-0;
  }
  .listGroup .list .left .circle{
    @apply shrink-0;
  }
  .listGroup .list .left .circle.none{
    @apply w-[30px] h-[30px] flex justify-center items-center bg-[#FFDFDF] rounded-full text-black text-sm font-normal;
  }
  .listGroup .list .left .name{
    @apply flex flex-col min-w-0;
  }
  .listGroup .list .right{
    @apply shrink-0 flex flex-col items-end;
  }
  .listGroup .list p{
    @apply font-semibold text-base text-black;
  }
  .listGroup .list .left .name p {
  @apply truncate;
}
  .listGroup .list span{
    @apply font-normal text-xs text-gray leading-[18px];
  }
  .itemList.masking .listGroup .list .left{
    @apply blur-[4px];
  }
  /* 날짜별 추천 스타일+ */
  .dateList{
    @apply w-full flex flex-col justify-start items-start mb-5;
  }
  .dateList .date{
    @apply relative w-full pb-5 last:pb-0 flex flex-col justify-start items-start gap-[6px] pl-[26px];
  }
  .dateList .date::before{
    @apply content-[''] w-2.5 h-2.5 rounded-full bg-[#DEE2E6] absolute left-1 top-1 z-[1];
  }
  .dateList .date:first-child::before{
    @apply w-5 h-5 bg-main left-[-1px] top-0 border-[5px] border-[#E0E0FF];
  }
  .dateList .date::after{
    @apply content-[''] absolute w-[2px] h-full border border-dashed border-[#DEE2E6] left-2 top-0 z-[0];
  }
  .dateList .date span{
    @apply text-gray font-normal text-[13px] leading-[20px];
  }
  .dateList .date .txt-group{
    @apply w-full flex flex-col justify-start items-start gap-[6px];
  }
  .dateList .date .txt-group .txt{
    @apply w-full flex justify-between items-center gap-2;
  }
  .dateList .date p, .dateList .date p span{
    @apply font-semibold text-base text-black;
  }
  .dateList .date .item{
    @apply flex-1 flex justify-end items-center gap-[6px];
  }
  .dateList .date .item span{
    @apply block;
  }
  .dateList .date .item em {
  @apply shrink-0;
}
  .dateList .date .item-group{
    @apply flex justify-start items-center flex-wrap gap-[6px_12px] whitespace-nowrap;
  }
  .dateList .date .item-group.masking{
    @apply blur-[4px];
  }
  .style-all button{
    @apply w-full h-[46px] rounded-[8px] border border-[#DEE2E6] text-[#364350] font-normal text-base;
  }
  /* 추천 스타일 기록 */
  .record{
    @apply w-full flex flex-col justify-start items-start;
  }
  .record button{
    @apply w-full py-4 border-b border-[#EDF0F3] text-left font-normal text-base text-black first:pt-0 last:pb-0 last:border-none;
  }
  /* 모든 스타일 */
  .style-box{
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
  .style-box button{
    @apply w-full rounded-2xl border border-[#EDF0F3] overflow-hidden;
    box-shadow: 0px 0px 4px 0px #0000001A;
  }
  .style-box button .top{
    @apply w-full p-4 bg-white flex flex-col justify-start items-center gap-3;
  }
  .style-box button .top .title p{
    @apply font-bold text-xl text-black;
  }
  .style-box button .top .title span{
    @apply font-normal text-sm text-gray;
  }
  .style-box button .top .txt{
    @apply w-full text-left font-normal text-[15px] leading-[22px] text-[#515F6C];
  }
  .style-box button .bottom{
    @apply w-full p-4 bg-[#EDF0F3];
  }
  .style-box button .bottom .word{
    @apply w-full flex justify-center items-center flex-wrap gap-[6px];
  }
  .style-box button .bottom .word p{
    @apply flex justify-start items-center gap-[6px]
  }
  .style-box button .bottom .word strong{
    @apply font-bold text-base text-main;
  }
  .style-box button .bottom .word span{
    @apply relative px-2 py-1 bg-white rounded-[4px] font-normal text-sm text-[#364350];
  }
}